.meme-generator {
    font-family: 'Karla', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    background: linear-gradient(90deg, #181d99 1.18%, #a626d3 100%);
}

.logo__item {
    display: flex;
    align-items: center;
}

.navbar__title {
    font-weight: 700;
    margin: 0;
    margin-inline-start: 5px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 15px;
}

.main__form,
.meme {
    max-width: 600px;
    margin: 0 auto;
}

.main__form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main__input {
    border: 1px solid #d5d4d8;
    padding: 10px;
    flex-grow: 1;
}

.main__input::placeholder {
    color: #0d0d0d;
}

.main__btn {
    margin: 0 auto;
    background: linear-gradient(90.41deg, #181d99 1.14%, #a818da 100%);
    border: none;
    cursor: pointer;
    padding: 12px 15px;
    color: white;
    font-weight: 700;
    flex-basis: 250px;
}

.main__btn,
.main__input {
    border-radius: 5px;
    font-family: inherit;
}

.meme {
    margin-top: 50px;
    position: relative;
}

.meme__image {
    display: block;
    width: 100%;
}

.meme__text {
    color: #dbdbdb;
    position: absolute;
    text-align: center;
    font-size: clamp(1rem, 0.9rem + 2.5vw, 3rem);
    line-height: 0.8;
    margin: 10px;
    font-weight: 900;
    width: -webkit-fill-available;
}

.meme__text.top {
    top: 0;
}

.meme__text.bottom {
    bottom: 0;
}
